body {
    text-align: center;
    background: aquamarine;
    background-repeat: no-repeat;
}

img {
    border-radius: 50%;
    width: 200px;height:200px;
}

h1 {
    text-shadow: 2px 2px #F8BBDO;
    font-size: 20px
}

p {
    font-size: 10px;
    color: #6A1B9A;
    font-size: 15px
}
.menu{list-style: none;font-family: 'New Tegomin', serif;float:right;top:10px;right: 30px;cursor: pointer;color:black; }
